/*css reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro';

}
html,body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:-34%;
    position: relative;
    padding: 20px 60px;
    z-index: 7;
}

.navlinks a{
    padding-right: 50px;
    gap: 20px;
    justify-content: space-between;
    color:rgb(1, 1, 10) ;
}

.nav-links2 {
    background-color: rgb(196, 63, 63);
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
}
.toggle{
    display: none;
}
#inform{
    display: flex;
    gap: 4em;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    
}
.information{
    display: flex;
    margin-top: 30px;
    width: 100%;
    padding: 20px 60px ;
    
}
.roll{
    width: 60%;
}
.information h1{
    font-size: 60px;
    
}
.information p{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.nav-links22{
    background-color: rgb(196, 63, 63);
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 50px;
}

.information-image{
    width: 100%;
}
#manage{
    display: flex;
    gap: 3em;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin-top: 40px;
}
.manag{
    width: 60%;
}
.management{
    width: 100%;
    display: flex;
    padding: 20px 50px;


}
.manag p{
    font-size: 25px;
    margin-top: 34px;
}
.manag h2{
    font-size: 40px;
}
.manager{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 60%;
    
    
}
.managers{
    display: flex;
    gap: 1.5em;
    margin-top: 30px;
    width: 100%;
}
.managers h2{
    font-size: 18px;

}
.h23{
    font-size: 24px;
}
.modern{
    display: flex;
    gap: 1.5em;
    margin-top: 30px;
}
.modern h2{
    font-size: 24px;
}
.ancient{
    display:flex ;
    gap: 0.5em;
    margin-top: 30px;
    font-size: 21px;
}
.no{
    background-color: rgb(196, 63, 63);
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
}
.pp{
    margin-top: 20px;
    margin-left: 80px;
    font-size: 17px;
}
#inquiry{
    padding: 20px 60px;
}
.h31{
    text-align: center;
    margin-bottom: 100px;
    font-size: 50px;
}
.inquiry-images{
    display: flex;
    gap: 20px;
    text-align: center;
}
.hipher{
    font-size: 20px;
    margin-top: 30px;
}
.inquiry-images p{
    margin-top:30px;
    font-size:17px;

}
#simplify{
    justify-content: space-between;
    align-items: center;
}
.simplification{
    padding: 20px 50px;
    display:flex;
    background-color: rgb(196, 63, 63);
    gap: 3em;
    justify-content: space-between;
    align-items: center;
}
.nav-links23{
    background-color:white;
    color: rgb(211, 74, 74);
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 20px;
}
.simplification h4{
    padding: 10px 20px;
    font-size:40px;
    width: 100%;
    max-width: 50%;
}
.closure p{
    display: none;
}
.closure img{
    margin-bottom: 30px;
}
#foot{
    color: aliceblue;
}
.footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    gap: 40px;
    background-color: hsl(233, 12%, 13%);
    color: aliceblue;
}
.footer-icon a{
    margin-top: 30px;
    color: aliceblue;
    
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}
.footer-links1{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    gap: 10px;

}
.footer-links2{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.footer-links1 a,.footer-links2 a{
    color: white;
}
.email{
    border-radius: 20px;
    background-color: aliceblue;
    padding: 10px 15px;
    border: none;
    outline: none;
}
.command{
    border-radius: 20px;
    background-color: rgb(207, 40, 18);
    padding: 10px 15px;
    color: white;
    border: none;
    outline: none;
}
.extreme-top{
    gap: 20px;
    color: aliceblue;
    display: flex;
}
.extreme p{
    margin-top: 30px;
}
@media screen and (max-width: 1200px){
    #nav{
        gap: 20px;
        padding: 50px;
    }
    .nav-links{
        font-size: 30px;
    }
    #inform{
        gap: 5em;
        padding: 10px 40px;
    }
    .information p{
        font-size: 18px;
    }
    .manag h2{
        font-size: 27px;
    }
    .management{
        gap: 2em;
        padding: 20px 40px;
    }
    .pp{
        font-size: 20px;
    }
    .manag{
        margin-left: -50px;
    }
    .manag p{
        font-size: 20px;
    }
    .managers h2{
        font-size: 22px;
    }
    .modern h2{
        font-size: 22px;
    }
    .h23{
        font-size: 20px;
    }
    .h31{
        font-size: 40px;
    }
    .inquiry-images p{
        font-size: 16px;
    }
    .extreme-top{
        display: flex;
    }
}
@media screen and (max-width:900px) {
    #inform{
        padding: 10px 35px;
        justify-content: space-between;
        gap: 5em;
    }
    .information{
        padding: 10px 35px;
        gap: 70px;
    }
    .information h1{
        font-size: 28px;
    }
    .information p{
        font-size: 15px;
    }
    .management{
        gap: 3em;
        padding: 20px 35px;
    }
    #manage{
        padding: 20px 35px;
        gap: 2em;

    }
    .manag{
        margin-left:-30px;
    }
    .manag h2{
        font-size: 25px;
    }
    .manag p{
        font-size: 15px;
    }
    .managers h2{
        font-size: 17px;
    }
    .modern h2{
        font-size: 17px;
    }
    .pp{
        font-size: 15px;
    }
    .h23{
        font-size: 17px;
    }
    .h31{
        font-size: 30px;
    }
    .inquiry-images p{
        font-size: 11px;
    }
    .simplification h4{
        font-size: 30px;
    }
    .nav-links23{
        padding: 7px 10px;
    }
    .extreme-top{
        display: flex;
        
    }
}
@media screen and (max-width:768px) {
    #nav{
        padding: 70px;
    }
    .navlinks{
        display: none;
    }
    .closeicon{
        display: none;
    }
    #inform{
       gap: 3em;
       justify-content: space-between;
       align-items: center;
    }
    .information h1{
       font-size: 25px;
    }
    .information p{
        font-size: 15px;
    }
    .nav-links22{
        padding: 10px 15px;
    }
    .hipher{
        font-size: 10px;
    }
    .managers h2{
        font-size: 17px;
    }
    .modern h2{
        font-size: 17px;
    }
    .pp{
        font-size: 15px;
        margin-top: 10px;
    }
    .h23{
        font-size: 16px;
        margin-right: 5px;
    }
    .inquiry-images p{
       font-size: 12px;
    }
    .simplification h4{
        font-size: 20px;
    }
    .nav-links23{
       padding: 4px 3px;
    }
    .footer-links1{
        font-size: 12px;
        gap: 5px;
    }
    .footer-links2{
        font-size: 12px;
        gap: 5px;
    }
    .extreme p{
        font-size: 13px;
    }
    .footer-icon{
        margin-top: 12px;
    }
        
    
}
@media screen and (max-width:500px) {
    #nav{
        width: 100%;
    }
    .toggle{
        display: block;
        cursor: pointer;
        font-size: 20px;
    }
    openclose{
       display: block;
    }
    .navlinks a{
        display: none;
    }
    .nav-links2{
        display: none;
    }
    #inform{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
   }
   .information{
    display: flex;
    flex-direction: column-reverse;
    margin-right: 30px;
    padding: 10px 10px;
   }
   .information-image{
    width: 100%;
   }
   .roll{
    margin-top: 30px;
    width: 100%;
   }
   .information h1{
    font-size: 38px;
    text-align: center;
   }
   .information p{
    font-size: 17px;
   }
   .management{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 10px;
   }
   .manager{
    width: 100%;
   }
   .managers{
    gap: 0.5em;
   }
   .modern{
    gap: 0.5em;
   }
   .manag{
    width: 100%;
    margin-left: -5px;
   }
   .manag p{
    text-align: center;
   }
   .pp{
    margin-left: 0px;
    font-size: 13px;
   }
   .inquiry-images{
    display: flex;
    flex-direction: column;
   }
   .simplification{
    display: flex;
    flex-direction: column;
   }
   .simplification h4 {
    max-width: 100%;
    text-align: center;
    font-size: 31px;
    margin-top: 20px;
   }
   .nav-links23{
    margin-bottom: 30px;
   }
   .footer{
    display: flex;
    flex-direction: column-reverse;
   }
   .closure{
    display: flex;
    flex-direction: column-reverse;
   }
   .extreme p{
    display: none;
   }
   .closure p{
    display: block;
    font-size: 11px;
   }
   .closure img{
    margin-top: 15px;
   }
}
